body{
    font-family: 'Poppins', sans-serif;
}
h1{
font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    padding-left: 5%;
}
.half-with{
    width: 50%;
}
.half-with img{
    width: 90%;
}